/* font-family: "Spirax", sans-serif; */
*{
    border: 0px;
    font-family: "Poiret One", sans-serif;
    margin: 0px;
    padding: 0px;
    
}

/* stops the page selection jumping about */
html{ 
    scroll-behavior: smooth;
    
    /* z-index:1; */
}

/* .tab{
    display: inline-block;
    margin-left: 530px;
} */

/* .tabJ{
    display: inline-block;
    margin-left: 400px;
} */

/* .tabC{
    display: inline-block;
    margin-left: 350px;
} */

    
.navbar{

    display: flex;
    gap: 8rem;
    justify-content: center;
    position:fixed;

    background-color: #0a0000;
    font-size: 4rem;
    opacity: 0.6;
    width: 100%;
    z-index: 1;
    
}

.navbar .link{
    
    color: #FFFFFF;
    font-family: "Spirax", sans-serif;
    padding: 1rem;
    text-decoration-line: none;
}
    


.sectionH{

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    justify-content:center;
    
    background-attachment:scroll;
    background-image: url(Assets/hot.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-bottom: 1rem solid darkred;
    height: 100vh;
    left: 0px;
    right: 0px;
   
}

.sectionH .titletext{

    color: darkred;
    font-family: "Spirax", sans-serif;
    font-size: 8rem;
}

.sectionH .box{

    color: whitesmoke;
    font-size: 2rem;
    padding: 1rem 2rem;
    width: 800px;
    
    
}

.sectionH .colour{
    
    background-color: darkred;
    opacity: 0.7;
    position:relative;
    text-align: center;
   
}


.sectionH .box.text1 {

    right: 7rem;
}

.sectionH .box.text2 {

    left: 7rem;
}


.sectionH .Binfocard{
    
    Background-color: black;
    opacity: 0.7;
    padding: 1rem 2rem;
    width: 800px;
}

.sectionH .Binfocard .Hrow{
    
    color: #F5F5F5;
    display:flex;
    font-size: 2rem;
    justify-content: space-between;
}





/* Page 2 */


.sectionJ{

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    justify-content:center;
    
    background-attachment:scroll;
    background-image: url(Assets/juicy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-bottom: 1rem solid darkred;
    height: 100vh;
    left: 0px;
    right: 0px;
}

.sectionJ .titletext{

    color: darkred;
    font-family: "Spirax", sans-serif;
    font-size: 8rem;
}


.sectionJ .box{

    color: whitesmoke;
    font-size: 2rem;
    padding: 1rem 2rem;
    width: 800px;
}

.sectionJ .colour{
    
    background-color: darkred;
    opacity: 0.7;
    position:relative;
    text-align: center;
}


.sectionJ .box.text1 {

    right: 7rem;
}

.sectionJ .box.text2 {

    left: 7rem;
}


.sectionJ .Jinfocard{
    
    Background-color: black;
    opacity: 0.7;
    padding: 1rem 2rem;
    width: 800px;
}

.sectionJ .Jinfocard .Jrow{
    
    color: #F5F5F5;
    display:flex;
    font-size: 2rem;
    justify-content: space-between;
}


/* Page 3 */


.sectionC{

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    justify-content:center;
    
    background-attachment:scroll;
    background-image: url(Assets/cosy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-bottom: 1rem solid darkred;
    height: 100vh;
    left: 0px;
    right: 0px;
}

.sectionC .titletext{

    color: darkred;
    font-family: "Spirax", sans-serif;
    font-size: 8rem;
}


.sectionC .box{

    color: whitesmoke;
    font-size: 2rem;
    padding: 1rem 2rem;
    width: 800px;
}

.sectionC .colour{
    
    background-color: darkred;
    opacity: 0.7;
    position:relative;
    text-align: center;
}


.sectionC .box.text1 {

    right: 7rem;
}

.sectionC .box.text2 {

    left: 7rem;
}


.sectionC .Cinfocard{
    
    Background-color: black;
    opacity: 0.7;
    padding: 1rem 2rem;
    width: 800px;
}

.sectionC .Cinfocard .Crow{
    
    color: #F5F5F5;
    display:flex;
    font-size: 2rem;
    justify-content: space-between;
}
 

