/* font-family: "Poiret One", sans-serif;
font-family: "Spirax", sans-serif; */
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.tab{
    display: inline-block;
    margin-left: 530px;
}


/* .body{
  display: flex;
  flex-direction: column;
 } */

 .header{
    /* background-color:darkseagreen; */
    display: flex;
    position: fixed;
    width: 100%;
}

.topmenu{

    display: flex;
    font-family: "Spirax", sans-serif;
    font-size: 4rem;
    left: 0px;
    opacity: 0.6; 
    right: 0px;
    width: 100%;
}
    
.topmenu .navbar{

    background-color: #410000;
    display: flex;
    font-family: "Spirax", sans-serif;
    font-size: 4rem;
    gap: 8rem;
    position:fixed;
    justify-content: center;
    opacity: 0.5;
    width: 100%;
}
    
.topmenu .navbar .linkhot{

    color: #FFFFFF;
    display: flex;
    font-weight: bold;
    opacity: 1;
    padding: 1rem;
    text-decoration-line: none;
}
    
.topmenu .navbar .linkjuicy{

    display: flex;
    color: #FFFFFF;
    font-weight: bold;
    opacity: 1;
    padding: 1rem;
    text-decoration-line: none;
}
    
.topmenu .navbar .linkcosy{

    color: #FFFFFF;
    display: flex;
    font-weight: bold;
    opacity: 1;
    padding: 1rem;
    text-decoration-line: none;
}

.sectionH{

    background-attachment:scroll;
    background-image: url(hot.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: row;
    height: 100vh;
    left: 0px;
    right: 0px;
}

.sectionH .Htitlecontainer{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 170px;
    left: 963px;
    padding: 2px;
    position:relative;
    top: 360px;
    width: 220px;
}


.sectionH .Htitlecontainer .Htitletext{
    align-content: center;
    color: darkred;
    display:flex;
    font-family: "Spirax", sans-serif;
    font-size: 8rem;
    font-weight: bold;
    height: 160px;
    justify-content: space-around;
    width: 220px;
}


.sectionH .Htextbox{
    align-content: center;
    Background-color: darkred;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    left: 220px;
    padding: 2px;
    opacity: 0.7;
    position:relative;
    justify-content: center;
    top: 580px;
    width: 1950px;
}

.sectionH .Htextbox .Htext1{
    align-content: center;
    color: #F5F5F5;
    flex-direction: row;
    font-family: "Poiret One", sans-serif;
    font-size: 2rem;
    padding: 2px;
    justify-content: center;
}

.sectionH .Htextbox2{
    align-content: center;
    Background-color: darkred;
    bottom: -720px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    right: 510px;
    opacity: 0.7;
    padding: 2px;
    position:relative;
    justify-content: center;
    width: 1700px;
}

.sectionH .Htextbox2 .Htext2{
    align-content: center;
    color: #F5F5F5;
    flex-direction: row;
    font-family: "Poiret One", sans-serif;
    font-size: 2rem;
    padding: 2px;
    justify-content: center;
}



.sectionH .Htextpricecard{
    align-content: center;
    Background-color: black;
    top: 855px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    left: 610px;
    opacity: 0.8;
    padding: 2px;
    position:absolute;
    justify-content: center;
    width: 1000px;
}

.sectionH .Htextpricecard .Htext3{
    align-content: center;
    color: #F5F5F5;
    flex-direction: row;
    font-family: "Poiret One", sans-serif;
    font-size: 2rem;
    height: 180px;
    list-style-type: none;
    padding: 2px;
    /* tab-size: 10; */
    justify-content: center;
    text-align:justify;
    width: 870px;
    
}










.sectionjuice{
    background-attachment:scroll;
    background-image: url(juicy.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    height: 100vh;
    left: 0px;
    right: 0px;  
}


/* .sectionjuiceheader{
    background-color:darkred;
    display: flex;
    background-size: contain;
    flex-direction: row-reverse;
    position:relative;
    width: 100%
    
} */



.sectioncosy{
    background-attachment:scroll;
    background-image: url(cosy.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    height: 100vh;
    left: 0px;
    right: 0px;  
}

/* .sectionhot .hotpicture{
    background-size: auto;
    flex-direction: column;
    
} */








/* .hot .hotpicture .pic1{
    display: flex;
    align-item: ;
    background-image: url("hot.jpg") ;
    /* display: flex; */
    /* justify-self: start; */
    /* width: max-content;
    height: max-content; */

 

